/* 
MisCuentas FACEBOOK - 2013
Design: Sintesis

	celeste 			#0E76BC
	paleta: normal:		#0E76BC
	        dark:		#0A5284
			verysoft:	#C4E7FF
			soft: 		#89CFFF
			
	naranja 			#FCAF40      //#FCB040
	paleta: normal:		#FCAF40
	    	dark:		#B07B2D
			verysoft: 	#FFECCF
			soft: 		#FFD8A0


	verde   			#39B54A
	paleta: normal:		#39B54A
			dark:		#287F34
			verysoft: 	#D3FFD9
			soft: 		#A8FFB4
			
	plomo				#DCDCDC  (texto)	
	rojo                #FF8080   //FFBFBF   //#F00 	
*/

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

/* cabecera */
body{
width: 520px;
margin: auto;
}

.boxHeader{
overflow: hidden;
/*background-color:#FCAF40;*/
background:url(../lib/header.png);
width: 520px;
height: 65px;
margin: 5px auto;
/*border: 1px solid #ccc;*/
}

/* pie */
.boxFooter{
overflow: hidden;
background-color:#FFF;
width: 520px;
height: 35px;
margin: 5px auto;
/*border: 1px solid #ccc;*/
}

/* formulario content */
#logueado{
width: 550px !important;
margin: auto !important;
/*background:#00CCCC;*/
}

#formContent{
overflow: hidden;
color: #5a5945;
font-size: 11px;
font-family: Arial,Helvetica,sans-serif;
background: #FFF url(../lib/background.jpg) no-repeat top;
/*background:#0E76BC no-repeat top;*/
width: 500px;
/*height: 380px;*/
margin: auto;
padding: 35px 10px 10px 10px;
}
#formContent p{
text-align: justify;
line-height: 12px;
margin: 0;
color: #000;
}

/* Content */
#Content{
overflow: hidden;
color: #222;
font-weight: 700;
font-size: 14px;
font-family: Arial,Helvetica,sans-serif;
text-align: center;
background: #FFF url(../lib/background.jpg) no-repeat top;
/*background:#0E76BC no-repeat top;*/
width: 500px;
height: 210px;
margin: auto;
padding: 35px 10px 10px 10px;
}

#Content p{
clear: both;
/*display: block;*/
text-align: center;
line-height: 18px;
width: 430px;
margin: 0 auto 25px auto;
}

/* Información Content */
#infoContent{
overflow: hidden;
color: #5a5945;
font-size: 11px;
font-family: Arial,Helvetica,sans-serif;
width: 520px;
margin: auto;
}
#infoContent p{
text-align: justify;
line-height: 12px;
margin: 5px 0;
}

/* texto informativo fuera de content */
.txtInf{
color: #000;
font-size: 12px;
letter-spacing: -0.05em;
border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;
padding: 15px 0;
margin: 10px 0;
}

/* texto informativo en content */
.boxTxt{
position: absolute;
color: #000;
font-size: 14px;
line-height: 18px;
text-align: center;
border: 1px solid #FFD8A0;
background-color: #FF9;
width: 388px;
margin: -70px 10px 50px 60px;
padding: 14px 14px 14px 14px;
}

/* texto informativo de error en content */
.boxTxtEr{
position: absolute;
color: #000;
font-size: 14px;
line-height: 18px;
text-align: center;
border: 1px solid #FFD8A0;
background-color: #FF8080;
width: 388px;
margin: -70px 10px 50px 60px;
padding: 14px 14px 14px 14px;
}

.btnLike{
position: absolute;
text-align: right;
width: 80px;
margin: 40px 0 0 435px;
*margin: 35px 0 0 -65px;
}

.clear{
clear: both;
}

.bold2{
color: #000;
font-weight: 700;
text-align: left;
}

.small{
font-size: 9px;
}

.title{
color: #000;
font-weight: 700;
text-align: center;
}

.bigtitle{
color: #000;
font-size: 17px;
font-weight: 700;
}

/* LINKS */
a{
color: #0E76BC !important;
font-weight: 700;
}

a.logos:link,a.logos:visited {
display: block;
float: right;
outline: none;
text-decoration: none;
text-indent: -9000px;
text-align: left;
background: url(../lib/logo.png) no-repeat top;
/*background:#999;*/
width: 75px;
height: 30px;
}
a.logos:hover {
background-position: bottom;
}

a.lnkSmall:link,a.lnkSmall:visited {
color: #fb070d;
text-decoration: underline;
text-align: left;
}

a.lnkSmall:hover {
text-decoration: none;
}

/* FORM 1 */
.formA fieldset{
float: left;
border: none !important;
width: 480px;
margin: 5px 0 !important;
padding: 0 !important;
}

.formA label{
display: block;
float: left;
color: #000;
font-size:  12px;
text-align: left;
line-height: 24px;
font-weight: 700;
padding: 0 15px;
}

.formA label .lbl2{
display: block;
float: left;
color: #000;
font-size:  12px;
text-align: left;
line-height: 24px;
font-weight: 300;
padding: 0 15px;
}

.formA .lA{
font-weight: 700;
width: 120px;
}
.formA .inputB1{ /* INICIAL NOMBRE */
/*display: block;*/
float: left;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
/*background: #fff url(../lib/inputb.gif) no-repeat center -31px;
border: none;*/
width: 200px;
height: 15px;
padding: 8px 6px;
}

.formA .reqB{ /* ERROR NOMBRE */
display: block;
float: left;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
background: #ffcccc;
/*background: #ffcccc url(../lib/inputb.gif) no-repeat bottom;
border: none;*/
width: 200px;
height: 15px;
padding: 8px 6px;
}

.formA .inputC1{ /* INICIAL NUM */
display: block;
float: left;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
/*background: #fff url(../lib/inputc.gif) no-repeat center -31px;
border: none;*/
width: 200px;
height: 15px;
padding: 8px 6px;
}
.formA .inputC{ /* EFECTO NUM */
display: block;
float: left;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
/*background: #fff url(../lib/inputc.gif) no-repeat top;
border: none;*/
width: 120px;
height: 15px;
padding: 8px 6px;
}
.formA .reqC{ /* ERROR NUM */
display: block;
float: left;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
background: #ffcccc;
/*background: #ffcccc url(../lib/inputc.gif) no-repeat bottom;
border: none;*/
width: 120px;
height: 15px;
padding: 8px 6px;
}

.formA .txtar1{ /* INICIAL TEXTAREA */
display: block;
float: left;
overflow: hidden;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
/*background: #fff url(../lib/txt_ar.gif) no-repeat center -62px;
border: none;*/
width: 368px;
height: 46px;
padding: 8px 6px;
}

.formA .txtar{ /* EFECTO TEXTAREA */
display: block;
float: left;
overflow: hidden;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
/*background: #fff url(../lib/txt_ar.gif) no-repeat top;
border: none;*/
width: 368px;
height: 46px;
padding: 8px 6px;
}

.formA .txtarReq{ /* ERROR TEXTAREA */
display: block;
float: left;
overflow: hidden;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
/*background: #ffcccc url(../lib/txt_ar.gif) no-repeat bottom;
border: none;*/
width: 368px;
height: 46px;
padding: 8px 6px;
}

/*
.formA textarea{
display: block;
float: left;
color: #4c4c4c;
font-size:  12px;
font-family: Arial,Helvetica,sans-serif;
border: none;
width: 370px;
padding: 6px 4px;
}
*/

.formA p{
clear: both;
margin: 2px 0;
padding: 10px 0;
}

.loadI{
float:right;
display: block;
background: url(../lib/loading.gif) no-repeat center;
width: 40px;
height: 40px;
margin: 0 20px;
}

a.btnSend:link,a.btnSend:visited {
display: block;
float: left;
outline: none;
text-decoration: none;
text-indent: -9000px;
text-align: left;
background: url(../lib/test2.png) no-repeat top;
width: 89px;
height: 36px;
}

a.btnSend:hover {
background-position: bottom;
}

a.btnInsApp:link,a.btnInsApp:visited {
float: left;
display: block;
outline: none;
text-decoration: none;
text-indent: -9000px;
background: url(../lib/instalar.png) no-repeat top;
width: 320px;
height: 55px;
*margin-top: 2px;
margin-left: 102px;
*margin-left: 50px;
}

a.btnInsApp:hover {
background-position: bottom;
}

a.btnRegApp:link,a.btnRegApp:visited {
float: left;
display: block;
outline: none;
text-decoration: none;
text-indent: -9000px;
background: url(../lib/registrar.png) no-repeat top;
width: 170px;
height: 55px;
*margin-top: 2px;
margin-left: 102px;
*margin-left: 50px;
}

a.btnInsApp:hover {
background-position: bottom;
}

/*  pestañas */
ul.tabSt {
float: left;
width: 100%;
margin: 10px 0 0 0 !important;
padding: 0 !important;
color:#000000;
}
ul.tabSt li {
float: left;
overflow: hidden;
position: relative;
clear: none !important;
background: none !important;
width: auto !important;
margin: 0 !important;
padding: 0 !important;
}
ul.tabSt li a {
display: block;
float: left;
outline: none !important;
color: #000 !important;
text-decoration: none;
text-align: center;
line-height: 28px;
border: 1px solid #ccc;
border-bottom: 0px solid #eaeae7;
width: auto !important;
height: 29px;
margin: 0 !important;
padding: 0 12px !important;
}
ul.tabSt li a:hover {
color: #969696 !important;
}	
ul.tabSt li.active a{
font-weight: 700;
background:#aaa !important; 
border: 2px solid #aaa !important;
border-bottom: 0px solid #fff !important;
}

.bxLi3{
color:#000000;
width: 405px;
margin: 10px 0;
}

.tab_content{
border: 1px solid #ccc !important;
margin: 0 !important;
padding: 15px 5px 5px 15px !important;
}

/* bx  */
.bxRS{
clear: both;
/*background: url(lib/bx_rs.gif);*/
width: 410px;
/*height: 40px;*/
}

.bxOptC{
clear: both;
width: 510px;
}

.bxRS ul{
float: left;
overflow: hidden;
width: 482px;
padding-top: 10px;
/*border: 1px solid #ccc !important;*/
}
.bxRS ul li{
float: left;
overflow: hidden;
clear: none !important;
font-weight: 400;
line-height: 20px;
background-image: none !important;
margin: 0 10px 0 0 !important;
padding: 0 0 0 0 !important;
}
.bxRS ul .texts{
overflow: hidden;
width: 55px !important;
margin: 0 15px 0 0 !important;
}
.bxRS ul .texts2{
overflow: hidden;
width: 100px !important;
margin: 0 15px 0 0 !important;
}
.bxRS ul .img{
overflow: hidden;
width: 100px !important;
margin: 0 15px 0 0 !important;
}

/* linea baja */ 
.espLin{
clear: both;
border-bottom: 1px solid #eaeae7;
margin-bottom: 15px;
padding-top: 15px;

}

.espLin2{
clear: both;
border-bottom: 1px solid #eaeae7;
margin-bottom: 15px;
padding-top: 10px;
}

/* LIST URL */
ul.liOpt {
overflow: hidden;
clear: both;
float: left;
width: 70px !important;
/*margin: 10px !important;*/
padding: 0 !important;
}
ul.liOpt li {
display: block;
float: left;
clear: none !important;
/*background: url(../lib/bull_01.png) no-repeat left 3px;*/
text-align: left;
width: 70px !important;
/*margin: 2px 0 !important;*/
/*padding-left: 15px !important;*/
}

ul.liOpt2 {
overflow: hidden;
clear: both;
float: left;
width: 100px !important;
/*margin: 10px !important;*/
padding: 0 !important;
}
ul.liOpt2 li {
display: block;
float: left;
clear: none !important;
/*background: url(../lib/bull_01.png) no-repeat left 3px;*/
text-align: left;
width: 100px !important;
/*margin: 2px 0 !important;*/
/*padding-left: 15px !important;*/
}

.bordeField {
  padding: 1em;
  border: 1px solid #ccc !important;
  color:#000000;
}

.searchDiv{
 width:480px;
 text-align: center;
 padding:1px;
 border: 1px solid #cececf;
}

.searchDiv .rowA{
border: 1px solid #ccc;
margin:1px;
background:#ccc;
}
.rWC{
 padding-top:7px;
 text-align:center;
 position:relative;
 float: left;
 width: 90px;
}
.rWN{
 padding-top:7px;
 position:relative;
 float: left;
 width: 200px;
}
.rWS{
 margin:10px;
 position:relative;
 float: left;
 width: 40px;
}

.pfloat{
 position:relative;
 float:right;
 width: 260px;
}

.imgfloat{
 position:relative;
 float:left;
 width: 169px;
 height: 67px;
}